<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:fragment="javascript">

    window.currentPage = 0;
    window.varlorABuscar = "";
    window.fechaInicio = "";
    window.fechaFinal = "";
    window.isPlazaLibre = false;

    window.direccion = window.location.href + '/res';

    let latitud;
    let longitud;

    console.log(window.direccion);

    function scrollEvent() {
        if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
            searchPage();
        }
    }

    function searchPage() {


        let datos = {pagina: window.currentPage};
        let valorBuscar = $("#searchterm").val()
        if (valorBuscar !== "") {
            datos.busqueda = valorBuscar;
        }

        let ciudad = $('#localizacion').val();
        if (ciudad != null && ciudad !== "") {
            datos.localizacion = ciudad;
        }
        let checkInicio = $('#checkInicio');

        if (checkInicio.prop('checked')) {
            datos.fechaInicio = $("#start-date").val();
        }
        let checkFinal = $('#checkFinal');
        if (checkFinal.prop('checked')) {
            datos.fechaFinal = $("#end-date").val();
        }
        datos.plazaLibre = $("#checkPlazasLibres").prop('checked');

        if ($('#checkLocalizacionRadio').prop('checked')) {
            let localizacionRadio = $('#localizacionRadio');
            if (localizacionRadio.val() != null && localizacionRadio.val() !== "" && !isNaN(localizacionRadio.val())) {
                datos.longitud = longitud;
                datos.latitud = latitud;
                datos.radio = localizacionRadio.val();
            }

        }

        $.ajax({
            beforeSend: function () {
                //cargando
            },
            url: window.direccion,
            method: 'get',
            data: datos,
            success: function (resp) {
                if (resp.length === 0) {
                    $(window).off('scroll');
                }else {
                    $(window).scroll(scrollEvent);
                    $.each(resp, function (ind, elem) {
                        var adddiv = $("<div><h4>" + elem.titulo + "</h4><p>" +
                            elem.descripcion + "</p><p>Fecha del Evento: " + elem.date + "</p>" +
                            "<p>plazas libres : " + (elem.maxNumOfPersons - elem.subscriptores.length) + "</p></div>");
                        adddiv.click(function () {
                            window.location = "/evento/" + elem.id;
                        });
                        $('#containerEventos').append(adddiv);
                    });
                    window.currentPage++;
                    console.log(window.currentPage);
                }

            },
            error: function (jqXHR, estado, error) {
                console.log(estado);
                console.log(error);
            },
            complete: function (jqXHR, estado) {

            }
        })
    }
    $(document).ready(
        function () {
            let checkInicio = $('#checkInicio');
            let checkFinal = $('#checkFinal');
            checkInicio.click(function () {
                if(checkInicio.prop('checked')){
                    $('#div-start-date').show();
                }else {
                    $('#div-start-date').hide();
                }
            });
            checkFinal.click(function () {
                if(checkFinal.prop('checked')){
                    $('#div-final-date').show();
                }else {
                    $('#div-final-date').hide();
                }
            })

            searchPage();

            $(window).scroll(function() {
                scrollEvent;
            });

            $("#searchButton").click(
                function () {
                    window.currentPage = 0;
                    $('#containerEventos').empty();
                    searchPage();
                }
            )
            let checkPropiaLocalizacion = $('#checkLocalizacionRadio');


            checkPropiaLocalizacion.click(
                function () {
                    if (checkPropiaLocalizacion.prop('checked')) {

                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function (pos) {
                                    longitud = pos.coords.longitude;
                                    latitud = pos.coords.latitude;
                                    $('#div-localizacionRadio').show();
                                },
                                function (error) {
                                    alert('no se soporta la geolocalizacion');
                                    checkPropiaLocalizacion.prop("checked", false);
                                });

                        }
                    } else {
                        $('#div-localizacionRadio').hide();
                    }
                }
            )


        }
    )
</script>
<script type="text/javascript" th:fragment="clickEvents">
    function clickEvent(id) {
        window.location = "/evento/" + id;
    }
</script>
<script type="text/javascript" th:fragment="printDate">
    function printDate(date) {
        let date2 = Date.parse(date);
        console.log(date2);
    }
</script>
<script type="text/javascript" th:fragment="verMapa">

    $(document).ready(
        //initMap()
    )

    function initMap() {
        let map;
        let latitud = Number($('#inputLatitud').val());
        let longitud = Number($('#inputLongitud').val());
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: latitud, lng:  longitud},
            zoom: 12,
        });
        let marker;
        marker = new google.maps.Marker({
            position : {lat: latitud, lng:  longitud},
            map
        })
        window.initMap = initMap;
    }
</script>
<script type="text/javascript" th:fragment="verMapaForm">

    $(document).ready(
        //initMap()
    )

    function initMap() {
        let map;
        let latitud = Number($('#inputLatitud').val());
        let longitud = Number($('#inputLongitud').val());
        if(latitud==null || latitud === 0|| longitud==null || longitud ===0) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (pos) {
                        longitud = pos.coords.longitude;
                        latitud = pos.coords.latitude;
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: {lat: latitud, lng:  longitud},
                            zoom: 12,
                        });
                        let marker;
                        marker = new google.maps.Marker({
                            position : {lat: latitud, lng:  longitud},
                            map,
                            draggable: true
                        })
                        window.initMap = initMap;
                    },
                    function (error) {
                        alert('no se soporta la geolocalizacion');
                    });
            }
        }


        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: latitud, lng:  longitud},
            zoom: 12,
        });
        let marker;
        marker = new google.maps.Marker({
            position : {lat: latitud, lng:  longitud},
            map,
            draggable: true
        })
        google.maps.event.addListener(marker, 'dragend', function (evt) {
            $('#inputLatitud').val(evt.latLng.lat().toFixed(3));
            $('#inputLongitud').val(evt.latLng.lng().toFixed(3));
        });

        window.initMap = initMap;

    }
</script>
<!--<script type="text/javascript" th:fragment="subscripcion">


    $(document).ready(
        function () {
            let buttonSubscribirse = $('#buttonSubscribir');
            let buttonDesSubscribirse = $('#buttonDesubscribir');


            let direccion = window.location.href;
            let ultimaPosicion = direccion.lastIndexOf('/') +1;
            let identificadorEvento = direccion.slice(ultimaPosicion, direccion.length);
            let subscribeDireccion = (window.location.origin + '/subscribirse/');

            console.log(subscribeDireccion);

            buttonSubscribirse.click(
                function () {
                    $.ajax({
                        beforeSend: function () {
                            //cargando
                        },
                        url:  subscribeDireccion,
                        method: 'post',
                        data: {subscribe : true, eventoId : identificadorEvento},
                        success: function () {
                            alert('Se ha subscrito correctamente.')
                            buttonSubscribirse.hide();
                            buttonDesSubscribirse.show();
                        },
                        error: function (jqXHR, estado, error) {
                            console.log(estado);
                            console.log(error);
                        },
                        complete: function (jqXHR, estado) {

                        }
                    })
                }
            );
            buttonDesSubscribirse.click(
                function () {
                    $.ajax({
                        beforeSend: function () {
                            //cargando
                        },
                        url:  (window.location.origin + '/subscribirse/' + identificadorEvento),
                        method: 'post',
                        data: {subscribe : false, eventoId: identificadorEvento},
                        success: function () {
                            alert('Se ha dessubscrito correctamente.')
                            buttonDesSubscribirse.hide();
                            buttonSubscribirse.show();
                        },
                        error: function (jqXHR, estado, error) {
                            console.log(estado);
                            console.log(error);
                        },
                        complete: function (jqXHR, estado) {

                        }
                    })
                }
            );
        }
    )

</script>-->
</body>
</html>