<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:fragment="javascript">

    window.currentPage = 0;
    window.varlorABuscar = "";
    window.fechaInicio = "";
    window.fechaFinal= "";
    window.isPlazaLibre = false;

    window.direccion = '/eventos/res';
    function scrollEvent() {
        if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
            searchPage();
        }
    }

    function searchPage() {
        var direccion = '/eventos/res';
        let datos = { pagina: window.currentPage, busqueda : window.varlorABuscar, isPlazaLibre: window.isPlazaLibre };
        if (window.fechaInicio.length !== 0) {
            datos.fechaInicio = window.fechaInicio;
            console.log(datos.fechaInicio);
        }
        if (window.fechaFinal.length !== 0) {
            datos.fechaFinal = window.fechaFinal;
            console.log(datos.fechaFinal);
        }

        $.ajax({
            beforeSend: function () {
                //cargando
            },
            url: window.direccion,
            method: 'get',
            data: datos,
            success: function (resp) {
                if(resp.length ===0) {
                    $(window).off('scroll');
                }else {
                    $(window).scroll(scrollEvent);
                    $.each(resp, function (ind, elem) {
                        var adddiv = $("<div><h4>" + elem.titulo + "</h4><p>" +
                            elem.descripcion + "</p><p>Fecha del Evento: " + elem.date + "</p>" +
                            "<p>plazas libres : " + (elem.maxNumOfPersons - elem.subscriptores.length) + "</p></div>");
                        adddiv.click(function () {
                            window.location = "/evento/" + elem.id;
                        });
                        $('#containerEventos').append(adddiv);
                    });
                    window.currentPage++;
                    console.log(window.currentPage);
                }

            },
            error: function (jqXHR, estado, error) {
                console.log(estado);
                console.log(error);
            },
            complete: function (jqXHR, estado) {

            }
        })
    }
    $(document).ready(
        function () {
            let checkInicio = $('#checkInicio');
            let checkFinal = $('#checkFinal');
            checkInicio.click(function () {
                if(checkInicio.prop('checked')){
                    $('#div-start-date').show();
                }else {
                    $('#div-start-date').hide();
                }
            });
            checkFinal.click(function () {
                if(checkFinal.prop('checked')){
                    $('#div-final-date').show();
                }else {
                    $('#div-final-date').hide();
                }
            })

            searchPage("");

            $(window).scroll(function() {
                scrollEvent;
            });

            $("#searchButton").click(
                function () {
                    window.varlorABuscar = $("#searchterm").val();
                    if(checkInicio.prop('checked')){
                        window.fechaInicio = $("#start-date").val();
                    }else {
                        window.fechaInicio = "";
                    }
                    checkFinal.click(function () {
                        if(checkFinal.prop('checked')){
                            window.fechaFinal = $("#end-date").val();
                        }else {
                            window.fechaFinal = "";
                        }
                    })
                    window.isPlazaLibre = $("#checkPlazasLibres").prop('checked');
                    window.currentPage = 0;
                    $('#containerEventos').empty();
                    searchPage();

                }
            )
        }
    )
</script>
</body>
</html>