<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-body">
            <h1 class="text-primary border border-success" th:if="*{id==null}">Crear Evento</h1>
            <h1 class="text-primary border border-success" th:if="*{id!=null}" th:text="${evento.getTitulo()}">Editar Evento</h1>

            <form class="form-control" method="post" th:action="@{/addEvento}" th:object="${evento}">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Titulo</label>
                    <div class="col-sm-6">
                        <input class="form-control" th:field="*{titulo}" type="text"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('titulo')}"
                               th:errors="*{titulo}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-6">
                        <input class="form-control" th:field="*{descripcion}" type="text"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
                               th:errors="*{descripcion}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Numero de personas</label>
                    <div class="col-sm-6">
                        <input class="form-control" th:field="*{maxNumOfPersons}" type="text"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('maxNumOfPersons')}"
                               th:errors="*{maxNumOfPersons}"></small>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha de ejecucion</label>
                    <div class="col-sm-6">
                        <input class="form-control" th:field="*{date}" type="text"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('date')}"
                               th:errors="*{date}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha de finalizacion</label>
                    <div class="col-sm-6">
                        <input class="form-control" th:field="*{dateFinal}" type="text"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('dateFinal')}"
                               th:errors="*{dateFinal}"></small>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}">

                <input class="form-control" type="submit" th:if="*{id!=null}" value="Editar Evento"/>
                <input class="form-control" type="submit" th:if="*{id==null}" value="Crear Evento"/>


            </form>
        </div>

        <div class="card bg-light" th:if="${not #lists.isEmpty(evento.getSubscriptores())}">
            <div th:text="'Subscriptores -' + ${evento.getSubscriptores().size()} + '/' + ${evento.getMaxNumOfPersons()}">Subscriptores</div>
            <table>
                <thead>
                    <tr>
                        <td>Username</td>
                        <td>Nombre Completo</td>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="sub: ${evento.getSubscriptores()}">
                    <td th:text="${sub.username}"></td>
                    <td th:text="${sub.nombreCompleto}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>