<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Filtros</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <div>
                            <input type="text" id="searchterm" placeholder="Search"/>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <input type="text" id="localizacion" placeholder="ciudad/provincia"/>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="row mt-3">
                            <div>
                                <input class="form-check-input mt-0" id="checkInicio" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <span>Fecha inicio</span>
                            </div>
                            <div class="col" style="display: none" id="div-start-date">
                                <input type="datetime-local" id="start-date" name="start-date">
                            </div>
                            <div>
                                <input class="form-check-input mt-0" type="checkbox" id="checkFinal"  value="" aria-label="Checkbox for following text input">
                                <span>Fecha Fin</span>
                            </div>
                            <div class="col" style="display: none" id="div-final-date">
                                <input type="datetime-local" id="end-date" name="end-date" >
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <div>
                            <span>Con plazas libres</span>
                            <input id="checkPlazasLibres" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <input id="checkLocalizacionRadio" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <span>mi localizacion</span>
                        </div>
                        <div class="col"  id="div-localizacionRadio" style="display: none">
                            <input type="text" id="localizacionRadio" name="localizacionRadio" placeholder="Radio">
                        </div>
                    </li>
                    <li class="nav-item">
                        <button id="searchButton" class="btn btn-light">Buscar</button>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="card bg-light">
                <div class="card-header">Listado de eventos</div>
                <div class="card-body"></div>
                <div id="containerEventos">

                </div>
            </div>
        </div>
    </div>
</div>


<p id="prueba"></p>
<footer th:replace="layout/layout :: footer"></footer>
<div th:replace="js/paginacion-eventos :: javascript"></div>

</body>
</html>